.idea/
__pycache__
.DS_Store

*.spec
build/

dist/*.exe

dist/data/*.csv
dist/data/fonts/*
!dist/data/fonts/.gitkeep
dist/data/original/*
!dist/data/original/.gitkeep
dist/data/font_data/*
!dist/data/font_data/.gitkeep
dist/data/image_data/*
!dist/data/image_data/.gitkeep
dist/data/generated/*
!dist/data/generated/.gitkeep
dist/lib/*
!dist/lib/.gitkeep

data/*.csv
data/fonts/*
!data/fonts/.gitkeep
data/original/*
!data/original/.gitkeep
data/font_data/*
!data/font_data/.gitkeep
data/image_data/*
!data/image_data/.gitkeep
data/generated/*
!data/generated/.gitkeep
lib/*
!lib/.gitkeep
