.idea/
.vscode/
__pycache__
.DS_Store

data/*.csv
data/fonts/*
!data/fonts/.gitkeep
data/build/*
data/generated/*
data/steam_data/*
!data/steam_data/.gitkeep
data/switch_romfs/*
!data/switch_romfs/.gitkeep
lib/*
!lib/.gitkeep
logs/*
data/build-images/
data/images/
